{{> header}}

<article>
    <h2>{{post.title}}</h2>
    <p>{{post.content}}</p>
    <p>Posted by {{post.user.username}} on {{post.createdAt}}</p>
</article>

<section>
    <h3>Comments</h3>
    {{#each post.comments}}
    <p>{{this.comment_text}} - {{this.user.username}} on {{this.createdAt}}</p>
    {{/each}}
</section>

{{#if loggedIn}}
<section>
    <h3>Leave a Comment</h3>
    <form id="comment-form">
        <textarea name="comment_text" id="comment-text" rows="4"></textarea>
        <button type="submit">Submit</button>
    </form>
</section>
{{/if}}
